* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-fz: 15px;
    --paragraph-fz: 14px;
    --heroimg-fz: 31px;
    --fnt-color: #1d1c1c;
    --secondary-fnt-color: #fff;
    --primary-bg-color: rgb(233, 166, 47);
    --fnt-weight: 600;
    --fx-gap: 7px;
    --padding: 13px;
    --general-padding: 10px;
    --dd-background: rgb(247, 247, 247);
    --icon-fz: 18px;
    --margin-top: 20px;
}

@font-face {
    font-family: normal;
    src: url(../font/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: dance;
    src: url(../font/Dancing_Script/static/DancingScript-Medium.ttf);
}

.container {
    min-width: 320px;
    font-size: var(--main-fz);
}

.container-child {
    font-family: normal;

    position: relative;
}

i {
    font-size: var(--icon-fz);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: var(--general-padding);
}

.logo {
    font-family: dance;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: var(--fnt-weight);
    color: var(--fnt-color);
}

.logo div {
    width: 50px;
    height: 50px;
}

.logo div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu {
    z-index: 1000;
    width: 100%;
    position: absolute;
    left: 0;
    top: 4.3em;
    background: var(--dd-background);
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

li {
    width: 100%;
    display: none;
    text-align: center;
}

li a {
    display: block;
    padding: var(--padding);
    text-decoration: none;
    color: var(--fnt-color);
    font-weight: var(--fnt-weight);
    transition: all .3s;
}


/* in pcview
.diff-color {
    background: var(--primary-bg-color);
    color: var(--secondary-fnt-color);
} 

li a:hover {
    background: var(--primary-bg-color);
    color: var(--secondary-fnt-color);
}
*/

.navigation:hover * {
    display: block;
}

main {
    margin-top: 10px;
    max-width: 1000px;
    margin: auto;
    padding: var(--general-padding);
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: var(--fx-gap);
}

.first-section .first-child {
    display: flex;
    flex-direction: column;
    gap: var(--fx-gap);
    order: 2;
}

.first-child p {
    font-size: var(--paragraph-fz);
}

.first-child p:nth-child(1) {
    font-size: 20px;
    color: var(--primary-bg-color);
    font-family: dance;
}

.first-child button {
    border: none;
    padding: var(--padding);
    background: var(--secondary-fnt-color);
}

.first-child button:nth-child(1) {
    background: var(--primary-bg-color);
    color: var(--secondary-fnt-color);
}

.second-child {
    display: flex;
    position: relative;
}


.background {
    font-family: Arial, Helvetica, sans-serif;
    height: 50vh;
    background: url(../image/fashion1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    width: 60%;
    height: 50vh;
    transform: translateX(67%);
    display: flex;
    padding: var(--padding);
    align-items: center;
}

.text {
    font-size: var(--heroimg-fz);
    width: 40%;
}

.multicolortext {
    background-image: linear-gradient(to left, var(--fnt-color) 0%, var(--primary-bg-color) 0%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortext:nth-child(1) {
    background-image: linear-gradient(to left, var(--fnt-color) 46%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(2) {
    background-image: linear-gradient(to left, var(--fnt-color) 47%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(3) {
    background-image: linear-gradient(to left, var(--fnt-color) 38%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(4) {
    background-image: linear-gradient(to left, var(--fnt-color) 32%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(5) {
    background-image: linear-gradient(to left, var(--fnt-color) 48%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(6) {
    background-image: linear-gradient(to left, var(--fnt-color) 23%, var(--primary-bg-color) 10%);
}

.third-child {
    order: 3;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: var(--fx-gap);
    margin-top: var(--margin-top);
}

.third-child div {
    padding: var(--padding);
    border: 1px solid #52525226;
}

.active {
    background: var(--primary-bg-color);
    color: var(--secondary-fnt-color);
}

.second-section {
    margin-top: var(--margin-top);
}

.second-section h1 {
    text-align: center;
}

.card-container {
    display: flex;
    width: 100%;
    gap: var(--fx-gap);
    margin-top: var(--margin-top);
    flex-wrap: wrap;
}

.card {
    width: 48.839%;
    box-shadow: 1px 1px 10px #00000020, 1px 1px 5px #00000002;
}

.card div:nth-child(2) {
    padding: var(--general-padding);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--fx-gap);
}

.image {
    padding-top: 10px;
    width: 100%;
    height: 10rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card button {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background: var(--secondary-fnt-color);
    color: var(--primary-bg-color);
    border: 2px solid var(--primary-bg-color);
    padding: var(--padding);
}

.third-section {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.third-section .first-child div {
    margin-top: var(--margin-top);
}

.border {
    border: 5px solid #74747418;
    border-bottom: 5px solid var(--primary-bg-color);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: relative;
    display: none;
}

.third-section .image {
    position: absolute;
    width: 330px;
    height: 330px;
    left: -1em;
    transform: translateY(-2.7em);
}

.third-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-bottom-right-radius: 550px;
    border-bottom-left-radius: 500px;
}

.border div:nth-child(1) {
    position: absolute;
    border-top: 1px solid var(--primary-bg-color);
    border-right: 1px solid var(--primary-bg-color);
    height: 60px;
    width: 80%;
    right: 2em;
    top: 4em;

}

.first-child span {
    color: var(--primary-bg-color);
}

.discount {
    position: absolute;
    right: -2.82em;
    top: 3em;
    box-shadow: 4px 10px 15px var(--primary-bg-color);
    font-weight: 700;
    background: var(--primary-bg-color);
    width: 40%;
    text-align: center;
    font-size: 30px;
}

.forth-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--margin-top);
    text-align: center;

}

.forth-section p {
    font-size: 13px;
}

.forth-section>div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
}

.forth-section input,
.forth-section button {
    padding: 15px;
    margin: 5px;
}

.forth-section button {
    border: none;
    background: var(--primary-bg-color);
    border-radius: 3px;
    color: var(--secondary-fnt-color);
    font-size: 600;
}

.mark {
    width: 100%;
}

.mark p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.footer-container {
    background: #000;
    margin-top: 20px;
}

footer {
    color: var(--secondary-fnt-color);
    max-width: 1000px;
    margin: auto;
    padding: var(--general-padding);

}

footer p {
    font-size: 12px;
}

footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
    color: var(--secondary-fnt-color);
    text-decoration: none;
}

.footer-section-one>div {
    margin-top: 10px;
}

.footer-section-one>div i {
    border: 1px solid var(--secondary-fnt-color);
    border-radius: 100%;
    padding: 2px;
}

.footer-logo div {
    width: 50px;
    height: 50px;
}

.footer-logo div img {
    width: 100%;
    height: 100%;
}

.subscribe input {
    padding: 10px;
}

footer>div:nth-child(2) {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #fff;
}