* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-fz: 15px;
    --paragraph-fz: 13.5px;
    --fnt-color: #1d1c1c;
    --secondary-fnt-color: #fff;
    --primary-bg-color: rgb(233, 166, 47);
    --fnt-weight: 600;
    --fx-gap: 7px;
    --padding: 15px;
    --general-padding: 10px;
    --dd-background: rgb(247, 247, 247);
}

@font-face {
    font-family: normal;
    src: url(../font/Noto_Sans/NotoSans-Regular.ttf);
}

.container {
    min-width: 320px;
    font-size: var(--main-fz);
}

.container-child {
    font-family: normal;
    max-width: 1400px;
    margin: auto;
    padding: var(--general-padding);
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: var(--fnt-weight);
    color: var(--fnt-color);
}

.logo div {
    width: 50px;
    height: 50px;
}

.logo div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu {
    z-index: 1000;
    width: 100%;
    position: absolute;
    left: 0;
    top: 4.3em;
    background: var(--dd-background);
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

li {
    width: 100%;
    display: none;
    text-align: center;
}

li a {
    display: block;
    padding: var(--padding);
    text-decoration: none;
    color: var(--fnt-color);
    font-weight: var(--fnt-weight);
    transition: all .3s;
}


/* in pcview
.diff-color {
    background: var(--primary-bg-color);
    color: var(--secondary-fnt-color);
} 

li a:hover {
    background: var(--primary-bg-color);
    color: var(--secondary-fnt-color);
}
*/

.navigation:hover * {
    display: block;
}

.first-section {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--fx-gap);
}

.first-section .first-child {
    display: flex;
    flex-direction: column;
    gap: var(--fx-gap);
}

.first-child p {
    font-size: var(--paragraph-fz);
}

.first-child p:nth-child(1) {
    color: var(--primary-bg-color);
}

button {
    border: none;
    padding: var(--padding);
    background: var(--secondary-fnt-color);
}

button:nth-child(1) {
    background: var(--primary-bg-color);
    color: var(--secondary-fnt-color);
}

.second-child {
    display: flex;
    position: relative;
}


.background {
    font-family: Arial, Helvetica, sans-serif;
    height: 50vh;
    background: url(../image/fashion1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    width: 60%;
    height: 50vh;
    transform: translateX(67%);
    display: flex;
    padding: var(--padding);
    align-items: center;
}

.text {
    font-size: 31px;
    width: 40%;
}

.multicolortext {
    background-image: linear-gradient(to left, var(--fnt-color) 0%, var(--primary-bg-color) 0%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolortext:nth-child(1){
    background-image: linear-gradient(to left, var(--fnt-color) 46%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(2) {
    background-image: linear-gradient(to left, var(--fnt-color) 47%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(3) {
    background-image: linear-gradient(to left, var(--fnt-color) 38%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(4) {
    background-image: linear-gradient(to left, var(--fnt-color) 32%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(5) {
    background-image: linear-gradient(to left, var(--fnt-color) 48%, var(--primary-bg-color) 10%);
}

.multicolortext:nth-child(6) {
    background-image: linear-gradient(to left, var(--fnt-color) 23%, var(--primary-bg-color) 10%);
}